/*******************************************************************************
 *                                                                             *
 * DockPane                                                                    *
 *                                                                             *
 ******************************************************************************/

.dock-area-indicator {
      -fx-fill: -fx-selection-bar;
      -fx-opacity: 0.196;
      -fx-stroke: rgba(102, 219, 100, 255);
}

.node-dock-selector {
       -fx-padding: 10;
       -fx-hgap: 15;
       -fx-vgap: 25;
       -fx-shape: "M0,0 a10,10 0 1,0 20,0 a10,10 0 1,0 -20,0";
       -fx-background-color: rgba(50, 50, 100, 0.4);
       -fx-border-width: 40;
       -fx-border-color: rgba(50, 50, 100, 0.2);
}