/*******************************************************************************
 *                                                                             *
 * DockPane                                                                    *
 *                                                                             *
 ******************************************************************************/

.dock-area-indicator {
      -fx-fill: -fx-selection-bar;
      -fx-opacity: 0.196;
      -fx-stroke: rgba(102, 219, 100, 255);
}

.node-dock-selector {
       -fx-hgap: 20;
       -fx-vgap: 20;
}

.node-dock-selector-back {
   -fx-fill: rgba(0,0,0,0.7);
}

.node-dock-selector-button {
    -fx-background-color: rgba(0,0,0,0.3);
    -fx-background-radius: 30px, 30px;
    -fx-pref-width: 50;
    -fx-pref-height: 50;
}

.node-dock-selector-button:focused {
    -fx-background-color: rgba(0,0,0,0.8);
    -fx-background-radius: 30px, 30px;
    -fx-pref-width: 50;
    -fx-pref-height: 50;
}